body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: rgb(180, 223, 180);
}

.site-title {
    color:darkgreen;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

#hobbies {
    list-style-type: square;
}

/* need to change the background to odd hobby list */

.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    background-color: rgb(255, 228, 178);
}