/* reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	background-color: #aad4cf;
	 overflow-x: hidden; 
}


.wrapper {
	background-color: #d4e9e7;
	font-family: Arial, Helvetica, sans-serif;
	width: 1050px;
	margin: auto;
	position: relative;
}

.starfish {
	width: 1050px;
	position: relative;
	text-align: center;
}

.title {
	color: white;
	font-size: 70px;
	text-align: center;
	z-index: 1px;
	position: relative;
	bottom: 144px;
}

nav ul{
	text-align: center;
	position: relative;
}

nav li{
	font-size: 25px;
	display: inline-block;
	position: relative;
	bottom: 110px;
	margin: 40px;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

.thestory {
	border-style: none;
	border-width: 1px;
	border-top: none;
	border-bottom: none;
	padding: 0px 60px 0px 60px;
}

.home {
	border-style: solid;
	border-width: 1px;
	border-top: none;
	border-left: none;
	border-bottom: none;
	padding: 20px 80px 20px 80px;
}

.contact {
	border-style: solid;
	border-width: 1px;
	border-top: none;
	border-right: none;
	border-bottom: none;
	padding: 20px 50px 20px 80px;
}

#story {
	font-size: 38px;
	position: relative;
	bottom: 100px;
	padding: 0px 0px 0px 10px;
}

.thestarfish {
	width: 265px;
	height: auto;
	position: relative;
	bottom: 80px;
	float: left;
	margin: 0px 20px 20px 0px;
	padding: 0px 0px 0px 10px;
}

.text {
	position: relative;
	 line-height: 1.5rem;
	 bottom: 80px;
	 padding: 0px 40px 0px 10px;
}

.facts {
	font-size: 34px;
	position:relative;
	bottom: 50px;
	padding: 0px 0px 0px 10px;
}

.thefacts {
	list-style-type: disc;
	padding: 0px 0px 0px 25px;
	position: relative;
	bottom: 35px;
}

#contact {
	font-size: 34px;
	padding: 0px 0px 0px 10px;
	position: relative;
	bottom: 0px;
}

.border {
	border-style: solid;
	border-color: black;
	border-width: 1px;
	margin: 13px 10px 0px 10px;
	position: relative;
}

.block {
	display: block;
	width: 990px;
}

#message {
	height: 100px;
}

.name {
	position: relative;
	padding: 30px 0px 15px 15px;
	line-height: 2rem;
}

.email {
	position: relative;
	padding: 0px 0px 15px 15px;
	line-height: 1.5rem;
}

.message {
	position: relative;
	padding: 0px 0px 15px 15px;
	line-height: 1.5rem;
}

.clearfix:after {
    content: "";
    display: block;
    clear:both
}

.would {
	font-size: 20px;
	position: relative;
	padding: 8px 0px 20px 15px;
}

.options {
	position: relative;
	padding: 0px 0px 0px 15px;
}

button {
	font-size: 12px;
	position: relative;
	padding: 10px 10px;
	margin: 0px 0px 15px 15px;
	background-color: #d4e9e7;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.footer{
	padding: 30px 0px 30px 900px;
}

/* change font to arial for whole body/header */
/* wrapper color #d4e9e7, background color #aad4cf */
/* position title over image */
/* float nav in a row, borders on 'story' left right sides */
/* wrap body of text around starfish image, put clearfix on image */
 /* black 1pt border around forms */