/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* start with mobile ver. first */
/* #c78c06 is orange #ffe6ac is beige #222 is black */
/* open sans font will be applied to all */
.container {
    font-family: "Open Sans", sans-serif;
	/* background-color: #222; */
}

/* navigation */
/* nav will include 'home' in same orange as logo, nav will be centered in vertically, search bar will stretch across with magnifying glass on right side */

.wrapper {
	padding: 1px 0px 0px 0px;
	background-color: #222;
}

nav {
    text-align: center;
}

li {
	margin: 20px 0px 35px 0px;
}

li:nth-child(5){
	margin: 0px 0px 20px 0px;
}

a:link {
	text-decoration: none;
}

a {
	color: #c78c06;
}

.logo {
    margin: 15px 0px 0px 15px;
    position: absolute;
}

/* 'home' needs a background color of orange */
.home {
    background-color: #c78c06;
	margin: 15px 15px 0px 15px;
    padding: 150px 0px 20px 0px;
}

/* search form needs to be wide with magnif. glass beside in orange */
input {
	float: left;
	height: 30px;
	margin: 0px 0px 15px 15px;
	width: 685px;
	font-size: 17px;
}

nav > .fa-solid {
	font-size: 24px;
	float: right;
	color: #c78c06;
	border: solid #c78c06 1px;
	padding: 5px;
	margin: 0px 15px 15px 0px;
}

/* title */

/* image needs to be sized down to view full pic */

.heading img {
	width: 810px;
	position: relative;
	right: 50px;
}

.heading {
	position: relative;
	color: white;
}

.background {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	bottom: 85px;
	padding: 50px 0px 15px 15px;
	height: 390px;
}

/* make changes to text */
h1 {
	font-weight: bold;
	color: white;
	margin: 0px 0px 0px 15px;
	font-size: 72px;
	padding: 0px 0px 20px 0px;
	line-height: 1.5;
}

.lorem {
	margin: 0px 50px 0px 15px;
	font-size: 14px;
	line-height: 1.4;
}

/* connect with us button needs to be orange with caret on right black */
.button {
	background-color: #c78c06;
	color: #222;
	font-size: 20px;
	width: 25%;
	text-align: center;
	margin: 15px 0px 0px 10px;
	padding: 30px 40px 30px 15px;
}

.heading .fa-solid {
	position: absolute;
	font-size: 35px;
	left: 215px;
	bottom: 36px;
}

/* about us */
/* background needs to be beige, full photo */
#aboutus {
	position: absolute;
	top: 1069px;
	background-color: #ffe6ac;
	padding: 0px 0px 5px 0px;
}

#aboutus img {
	width: 730px;
	margin: 15px;
}

.about {
	margin: 0px 0px 0px 15px;
}

.about > h2 {
	font-size: 45px;	
	font-weight: bold;
	margin: 25px 0px 25px 0px;
}

.about > p {
	line-height: 1.3;
	margin: 0px 15px 20px 0px;
	font-size: 14px;
}


/* our services */

#services {
	background-color: white;
	position: relative;
	top: 647px;
}

.ourservices {
	margin: 0px 15px 0px 15px;
	font-size: 45px;
	font-weight: bold;
	padding: 50px 0px 20px 0px;
}

/* digital transformation section */
.digtransform {
	margin: 0px 15px 15px 15px;
	background-color: #ffe6ac;
	padding: 0px 0px 15px 0px;
}

.digtransform img {
	width: 100%;
}

.digtransform h2 {
	font-weight: bold;
	font-size: 30px;
	padding: 30px 0px 20px 15px;
}

.digtransform p {
	font-size: 14px;
	padding: 0px 10px 15px 15px;
	line-height: 1.4;
}

/* digital plans button */
.button2 {
	background-color: #222;
	color: white;
	margin: 0px 600px 0px 15px;
	text-align: center;
	padding: 0px 218px 80px 0px;
}

.button2 p {
	position: absolute;
	font-size: 20px;
	padding: 30px 0px 20px 30px;
}

.button2 i {
	position: absolute;
	padding: 25px 0px 0px 165px;
	font-size: 35px;
}

/* marketing section */
.marketing {
	margin: 0px 15px 15px 15px;
	background-color: #ffe6ac;
	padding: 0px 0px 15px 0px;
}

.marketing img {
	width: 100%;
}

.marketing h2 {
	font-weight: bold;
	font-size: 30px;
	padding: 30px 0px 20px 15px;
}

.marketing p {
	font-size: 14px;
	padding: 0px 10px 15px 15px;
	line-height: 1.4;
}

/* marketing plans button */
.button2 {
	background-color: #222;
	color: white;
	margin: 0px 600px 0px 15px;
	text-align: center;
	padding: 0px 250px 90px 0px;
}

.button2 p {
	position: absolute;
	font-size: 20px;
	padding: 30px 0px 20px 30px;
}

.button2 i {
	position: absolute;
	padding: 25px 0px 0px 200px;
	font-size: 35px;
}

/* video production section */
.vidprod {
	margin: 0px 15px 15px 15px;
	background-color: #ffe6ac;
	padding: 0px 0px 15px 0px;
}

.vidprod img {
	width: 100%;
}

.vidprod h2 {
	font-weight: bold;
	font-size: 30px;
	padding: 30px 0px 20px 15px;
}

.vidprod p {
	font-size: 14px;
	padding: 0px 10px 15px 15px;
	line-height: 1.4;
}

/* video plans button */
.button3 {
	background-color: #222;
	color: white;
	margin: 0px 600px 0px 15px;
	text-align: center;
	padding: 0px 218px 85px 0px;
}

.button3 p {
	position: absolute;
	font-size: 20px;
	padding: 30px 0px 20px 30px;
}

.button3 i {
	position: absolute;
	padding: 25px 0px 0px 165px;
	font-size: 35px;
}

/* web development section */
.webdev {
	margin: 0px 15px 15px 15px;
	background-color: #ffe6ac;
	padding: 0px 0px 15px 0px;
}

.webdev img {
	width: 100%;
}

.webdev h2 {
	font-weight: bold;
	font-size: 30px;
	padding: 30px 0px 20px 15px;
}

.webdev p {
	font-size: 14px;
	padding: 0px 10px 15px 15px;
	line-height: 1.4;
}

/* wbe plans button */
.button4 {
	background-color: #222;
	color: white;
	margin: 0px 600px 0px 15px;
	text-align: center;
	padding: 0px 200px 85px 0px;
}

.button4 p {
	position: absolute;
	font-size: 20px;
	padding: 30px 0px 20px 30px;
}

.button4 i {
	position: absolute;
	padding: 25px 0px 0px 145px;
	font-size: 35px;
}

/* print section */
.print {
	margin: 0px 15px 15px 15px;
	background-color: #ffe6ac;
	padding: 0px 0px 15px 0px;
}

.print img {
	width: 100%;
}

.print h2 {
	font-weight: bold;
	font-size: 30px;
	padding: 30px 0px 20px 15px;
}

.print p {
	font-size: 14px;
	padding: 0px 10px 15px 15px;
	line-height: 1.4;
}

/* print plans button */
.button5 {
	background-color: #222;
	color: white;
	margin: 0px 600px 0px 15px;
	text-align: center;
	padding: 0px 200px 85px 0px;
}

.button5 p {
	position: absolute;
	font-size: 20px;
	padding: 30px 0px 20px 30px;
}

.button5 i {
	position: absolute;
	padding: 25px 0px 0px 145px;
	font-size: 35px;
}

/* our vision */
/* text infront of image with learn more button */
.vision img {
	position: relative;
	margin: 670px 0px 0px 0px;
	height: 280px;
	width: 759px;
	object-fit: cover;
}

.vision {
	background-color: white;
}

.vision h2 {
	color: white;
	font-weight: bold;
	font-size: 30px;
	position: relative;
	margin: 0px 0px 0px 15px;
	bottom: 245px;
}

.vision p {
	position: relative;
	bottom: 225px;
	color: white;
	line-height: 1.6;
	font-size: 14px;
	margin: 0px 0px 0px 15px;
}

/* learn more button will be black with orange border */
.button6 {
	position: relative;
	background-color: rgba(0, 0, 0, 0.5);
	border: solid #c78c06 1px;
	bottom: 210px;
	margin: 0px 520px 15px 15px;
	padding: 0px 0px 25px 0px;
}

.button6 p {
	top: 30px;
	font-size: 20px;
	color: white;
	padding: 0px 0px 0px 15px;
}

.button6 i {
	position: relative;
	color: white;
	font-size: 35px;
	padding: 0px 0px 0px 160px;
}

/* our team */
#team {
	position: relative;
	bottom: 200px;
	margin: 0px 15px 0px 15px;
}

#team h2 {
	font-weight: bold;
	font-size: 50px;
}









/* contact us */

/* hours of operation */

/* location */

/* footer */